# Go
bin/
*.exe
*.out

# DB
*.db

# Logs
logs/
*.log

# Env
.env

# Frontend
node_modules/
dist/

# Local generated data
.VSCodeCounter/
release/
backend/data/
data/
docs/*.zip

# OS
.DS_Store
Thumbs.db
