APP_NAME=OpenBridge
APP_ENV=dev
APP_PORT=8080

DB_PATH=./data/openbridge.db

ARIA2_RPC_URL=http://127.0.0.1:6800/jsonrpc
ARIA2_RPC_SECRET=
ARIA2_DOWNLOAD_DIR=D:\downloads

OPENLIST_BASE_URL=http://127.0.0.1:5244
OPENLIST_TOKEN=

LOG_LEVEL=debug
LOG_FORMAT=json